
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #2a2727;
}

header {
    background-color: #222;
    color: white;
    padding: 20px;
}

main {
    width: 80%;
    margin: auto;
}

.coaching {
    display: flex;
    align-items: center;
    background: white;
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.coaching img {
    width: 200px;
    height: auto;
    border-radius: 8px;
    margin-right: 20px;
}

.info {
    text-align: left;
}

footer {
    background-color: #ca0404;
    color: rgb(18, 16, 16);
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

